.modal-title.h4 {
  font-family: Public Sans;
  font-weight: 600;
  font-size: 18px;
  color: var(--primary-color);
}

button.btn-close {
  background-color: var(--primary-color);
  opacity: 1;
}

.modal-header .cmn_btn {
  padding: 3px;
  height: auto;
  border-radius: 4px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}
.modal-dialog {
  max-width: 880px;
}
/*  */
.step-circle {
  width: 34px;
  height: 34px;
  color: #6f6c90;
  background: #eff0f6;
}
.step-circle.completed,
.step-circle.active {
  background-color: #0052cc;
  color: #fff;
}
.step-tracker li {
  width: 100%;
  position: relative;
}

.step-tracker li::before {
  width: calc(100% - 48px);
  height: 6px;
  background: #ddd;
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  border-radius: 35px;
  left: 40px;
}
.step-tracker li:last-child {
  width: auto;
}
li.list-completed::before {
  background: #0052cc;
}

.req-job-headers h2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #170f49;
}

.req-job-headers p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #6f6c90;
}

.req-job-headers {
  max-width: 566px;
  margin: auto;
  width: 100%;
}
h5.step_heading {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 22px;
  line-height: 35px;
  color: #170f49;
  margin-bottom: 15px;
}
.rem_pass.job-req-check label.form-check-label {
  color: #170f49;
  font-weight: 500;
  font-size: 16px;
}
