.modal-title.h4 {
  font-family: Public Sans;
  font-weight: 600;
  font-size: 18px;
  color: var(--primary-color);
}

button.btn-close {
  background-color: var(--primary-color);
  opacity: 1;
}

.modal-header .cmn_btn {
  padding: 3px;
  height: auto;
  border-radius: 4px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}
.modal-dialog {
  max-width: 880px;
}
/*  confirmation modal*/
.confirmationModal .modal-body {
  padding-top: 0px !important;
}

.confirmationModal h1 {
  font-family: Inter;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.2px;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 2rem;
}
