.no-driver {
  text-align: center;
  padding: 1rem;
}

.no-driver h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #989692;
  margin-top: 1rem;
}
span.fn-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  background: #f2f2f2;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 35px;
}
.small-heading {
  color: #170f49;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.job_status span {
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  color: #989692;
  font-weight: 500;
}

.job_status h6 {
  font-family: Bahnschrift;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #170f49;
}
.job-list-bullets li {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
}
.timeline-count {
  width: 32px;
  height: 32px;
  background: #e0e7ff;
  color: #4338ca;
  font-weight: 500;
  font-family: "Inter";
}
.timeline_status span,
.timeline-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #989692;
}
.toggle {
  right: 4px;
  z-index: 3;
  top: 5px;
}
.toggle svg {
  cursor: pointer;
}

.toggle_items {
  z-index: 3;
  right: -18px;
  min-width: 100px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 10%);
}
.toggle_items span {
  font-size: 14px;
  padding: 10px;
  padding-bottom: 5px;
  cursor: pointer;
}
.saved_address {
  background: #0052cc26;
  padding: 10px;
  border-radius: 5px;
}

.address_wrapper h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px;
}

.address_wrapper p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  margin: 0;
}
.nav-tabs.location_tabs .nav-item {
  width: 100%;
  max-width: 49%;
}

.nav-tabs.location_tabs .nav-link {
  width: 100%;
  border: 1px solid #e1e3e6;
  border-radius: 8px;
  font-size: 14px;
  padding: 4px 0px;
}

.nav-tabs.location_tabs .nav-link.active {
  background: #0052cc;
  color: #fff;
  border-color: #0052cc;
}

.location_tabs {
  justify-content: space-between;
  border: unset;
}
.divider_cmn {
  background: #d9dbe9;
  width: 70%;
  height: 1px;
  margin: 24px auto;
}
.vehicle_card {
  border: 1px solid #e1e3e6;
  padding: 15px;
  border-radius: 8px;
  width: 80%;
}
/* create job css */
.step-circle {
  width: 34px;
  height: 34px;
  color: #6f6c90;
  background: #eff0f6;
}
.step-circle.completed,
.step-circle.active {
  background-color: #0052cc;
  color: #fff;
}
.step-tracker li {
  width: 100%;
  position: relative;
}

.step-tracker li::before {
  width: calc(100% - 48px);
  height: 6px;
  background: #ddd;
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  border-radius: 35px;
  left: 40px;
}
.step-tracker li:last-child {
  width: auto;
}
li.list-completed::before {
  background: #0052cc;
}

.req-job-headers h2 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #170f49;
}

.req-job-headers p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #6f6c90;
}

.req-job-headers {
  max-width: 566px;
  margin: auto;
  width: 100%;
}
h5.step_heading {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 22px;
  line-height: 35px;
  color: #170f49;
  margin-bottom: 15px;
}
.rem_pass.job-req-check label.form-check-label {
  color: #170f49;
  font-weight: 500;
  font-size: 16px;
}
.job-request-modal {
  max-width: 774px;
  width: 100%;
  margin: auto;
}
.step-tracker {
  margin-bottom: 3em;
}
/* job-dropdown css */

.vehicle_dropdown .dropdown-toggle {
  border: 1px solid #e1e3e6;
  width: 100%;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #757d8a;
}

.vehicle_dropdown .dropdown-toggle:focus {
  box-shadow: unset;
  border: 1px solid var(--primary-color);
}
.vehicle_dropdown .dropdown-toggle:after {
  display: none;
}
.vehicle_dropdown .dropdown-toggle.show svg {
  transform: rotate(-180deg);
}
.vehicle_dropdown .dropdown-menu {
  width: 100%;
  border: 1px solid #e1e3e6;
  padding: 0;
}
.vehicle_dropdown .dropdown-menu a {
  font-size: 13px;
  color: #757d8a;
  padding: 5px 10px;
  cursor: pointer;
}

.vehicle_dropdown .dropdown-menu a:hover {
  background: #d9e5f8;
}
.vehicle_item {
  padding: 20px;
  border: 1px solid #00000026;
  border-radius: 16px;
}
.dropdown-menu li {
  font-size: 13px;
  color: #757d8a;
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #d9e5f8;
}

.vehicle_item {
  padding: 20px;
  border: 1px solid #00000026;
  border-radius: 16px;
}

.vehicle_item p {
  margin: 0;
  font-weight: 600;
}

.vehicle_item p span {
  font-weight: 400;
}
.vehicle_item h3 {
  font-size: 22px;
}
input.form-control.pac-target-input {
  font-size: 14px;
}

input.form-control.pac-target-input:focus {
  box-shadow: unset;
  border: 1px solid #1d4ed8;
}
.sm-width.modal .modal-dialog {
    max-width: 517px;
}
span.adress-data
 {
    min-width: 260px;
    width: 217px;
    display: inline-block;
}