.btn-small {
  padding: 0px 12px;
  height: 40px;
  min-width: 102px;
  text-align: center;
}

.btn-medium {
  padding: 0px 1.4rem;
  height: 44px;
}
.btn-xs {
  padding: 0px 1rem;
  height: 34px;
  min-width: 66px;
}
.cmn_btn.bordered {
  border: 1px solid var(--primary-color);
  background: #fff;
  color: var(--primary-color);
}
.cmn_btn.grey_btn {
  border: 1px solid rgba(224, 226, 231, 1);
  background: rgba(255, 255, 255, 1);
  font-family: "Public Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  height: 40px;
  padding: 0px 12px;
  border-radius: 8px;
  min-width: 43px;
  text-align: center;
  color: rgba(102, 112, 133, 1);
}
.cancel.cmn_btn {
  background: #b91c1c;
  border: 1px solid #b91c1c;
  color: #fff;
}
.cmn_btn {
  border: 1px solid transparent;
  background: var(--primary-color);
  border: unset;
  color: var(--bs-white);
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  border-radius: 35px;
}
.cmn_btn .spinner-border {
  width: 16px;
  height: 16px;
}
.noTitleBtn.cmn_btn {
  background: transparent;
  border: 1px solid var(--primary-color);
  padding: 5px;
  min-width: 34px;
  height: 34px;
}
.small-heading {
  color: #170f49;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
.button:disabled {
  opacity: 0.1;
  cursor: not-allowed;
}
button.cmn_btn.disabled {
  border: 1px solid #e1e3e6;
  background: #f2f2f2;
  color: #989692;
}
